Utilities/NodeRED/FFTSensorFlow.json
[
    {
        "id": "51e08dc8.6ad7b4",
        "type": "function",
        "z": "d925e39d.2c18",
        "name": "Data parser",
        "func": "var AccX = {};\nvar AccY = {};\nvar AccZ = {};\nvar temperature = {};\nvar humidity = {};\nvar pressure = {};\nvar motor_status = {};\nvar maxFreq = {};\nvar maxFreqAmp = {};\n\nAccX.payload = msg.payload.d.acc_x;\nAccX.topic   = \"AccX\";\nAccY.payload = msg.payload.d.acc_y;\nAccY.topic   = \"AccY\";\nAccZ.payload = msg.payload.d.acc_z;\nAccZ.topic   = \"AccZ\";\ntemperature.payload = msg.payload.d.temperature;\ntemperature.topic   = \"Temp\";\nhumidity.payload = msg.payload.d.humidity;\nhumidity.topic   = \"Hum\";\npressure.payload = msg.payload.d.pressure;\npressure.topic   = \"Pressure\";\n\nif (msg.payload.d.Motor_status === \"OK\" ){\n    motor_status.payload = 0;\n}\nelse if (msg.payload.d.Motor_status === \"Disabled\" ){\n    motor_status.payload = 0;\n}\nelse if (msg.payload.d.Motor_status === \"Warning\" ){\n    motor_status.payload = 1;\n}\nelse {\n    motor_status.payload = 2;\n}\nmotor_status.topic = \"motor\";\n\nmaxFreq.payload = msg.payload.d.FFTMaxFreq;\nmaxFreq.topic   = \"maxFreq\";\n\nmaxFreqAmp.payload = msg.payload.d.FFTMaxFreqAmp;\nmaxFreqAmp.topic   = \"maxFreqAmp\";\n\nreturn [AccX, AccY, AccZ, temperature, humidity, pressure, motor_status, maxFreq, maxFreqAmp];",
        "outputs": "9",
        "noerr": 0,
        "x": 293,
        "y": 360,
        "wires": [
            [
                "128fe83a.5dd4a8"
            ],
            [
                "ff577170.2c339"
            ],
            [
                "4cdf005f.618d3"
            ],
            [
                "bdc918ce.2644d8"
            ],
            [
                "6eb28cc9.745164"
            ],
            [
                "5065a35.801545c"
            ],
            [
                "73688c3e.0a0f34",
                "cc7dc444.987288"
            ],
            [
                "fef3056b.454308"
            ],
            [
                "b5e099fe.8fa128"
            ]
        ]
    },
    {
        "id": "128fe83a.5dd4a8",
        "type": "ui_chart",
        "z": "d925e39d.2c18",
        "name": "Acc.X",
        "group": "f9377465.267d08",
        "order": 1,
        "width": "5",
        "height": "5",
        "label": "Acc.X",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff8080",
            "#2ca02c",
            "#98df8a",
            "#ff0000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 557,
        "y": 143,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c26959e3.16cf38",
        "type": "ibmiot in",
        "z": "d925e39d.2c18",
        "authentication": "apiKey",
        "apiKey": "90ff9e4e.7cb18",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "hkd",
        "applicationId": "",
        "deviceType": "hkdt",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "fft",
        "service": "registered",
        "allDevices": false,
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": false,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 55,
        "y": 360,
        "wires": [
            [
                "51e08dc8.6ad7b4",
                "85298d5d.e7678"
            ]
        ]
    },
    {
        "id": "6eb28cc9.745164",
        "type": "ui_gauge",
        "z": "d925e39d.2c18",
        "name": "Humidity",
        "group": "f9377465.267d08",
        "order": 6,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 845,
        "y": 300,
        "wires": []
    },
    {
        "id": "5065a35.801545c",
        "type": "ui_gauge",
        "z": "d925e39d.2c18",
        "name": "Pressure",
        "group": "f9377465.267d08",
        "order": 5,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Pressure",
        "label": "units",
        "format": "{{value}}",
        "min": "260",
        "max": "1260",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 845,
        "y": 340,
        "wires": []
    },
    {
        "id": "73688c3e.0a0f34",
        "type": "ui_gauge",
        "z": "d925e39d.2c18",
        "name": "Alert motor",
        "group": "f9377465.267d08",
        "order": 10,
        "width": "5",
        "height": "3",
        "gtype": "wave",
        "title": "",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 816,
        "y": 537,
        "wires": []
    },
    {
        "id": "4931d6bc.c9f348",
        "type": "ui_toast",
        "z": "d925e39d.2c18",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "outputs": 1,
        "ok": "Motor Alarm",
        "cancel": "",
        "topic": "",
        "name": "Motor Alarm",
        "x": 768,
        "y": 587,
        "wires": [
            []
        ]
    },
    {
        "id": "cc7dc444.987288",
        "type": "function",
        "z": "d925e39d.2c18",
        "name": "Motor alert notification",
        "func": "var motor_alert = {};\n\nif (msg.payload == 2){\n    motor_alert.payload = \"Alarm motor\";\n    return motor_alert;\n}\nelse {\n    return null;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 418,
        "y": 623,
        "wires": [
            [
                "4931d6bc.c9f348",
                "4974ce9.e21cb3"
            ]
        ]
    },
    {
        "id": "4974ce9.e21cb3",
        "type": "ui_audio",
        "z": "d925e39d.2c18",
        "name": "Alert motor",
        "group": "f9377465.267d08",
        "voice": "3",
        "always": "",
        "x": 771,
        "y": 631,
        "wires": []
    },
    {
        "id": "bdc918ce.2644d8",
        "type": "ui_gauge",
        "z": "d925e39d.2c18",
        "name": "Temperature",
        "group": "f9377465.267d08",
        "order": 4,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature  ",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 835,
        "y": 260,
        "wires": []
    },
    {
        "id": "85298d5d.e7678",
        "type": "debug",
        "z": "d925e39d.2c18",
        "name": "mydebug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "ff577170.2c339",
        "type": "ui_chart",
        "z": "d925e39d.2c18",
        "name": "Acc.Y",
        "group": "f9377465.267d08",
        "order": 2,
        "width": "5",
        "height": "5",
        "label": "Acc.Y",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#008000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 655,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4cdf005f.618d3",
        "type": "ui_chart",
        "z": "d925e39d.2c18",
        "name": "Acc.Z",
        "group": "f9377465.267d08",
        "order": 3,
        "width": "5",
        "height": "5",
        "label": "Acc.Z",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#0080ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 835,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fef3056b.454308",
        "type": "ui_chart",
        "z": "d925e39d.2c18",
        "name": "FTTMaxFreq",
        "group": "f9377465.267d08",
        "order": 7,
        "width": "5",
        "height": "5",
        "label": "Max Frequency",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Max Frequency",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 830,
        "y": 393,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b5e099fe.8fa128",
        "type": "ui_chart",
        "z": "d925e39d.2c18",
        "name": "FFTMaxFreqAmp",
        "group": "f9377465.267d08",
        "order": 8,
        "width": "5",
        "height": "5",
        "label": "Max Frequency Amplitude",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Max Frequency Amplitude",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 853,
        "y": 441,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f9377465.267d08",
        "type": "ui_group",
        "z": "d925e39d.2c18",
        "name": "Environmental",
        "tab": "417af625.713e08",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false
    },
    {
        "id": "90ff9e4e.7cb18",
        "type": "ibmiot",
        "z": "",
        "name": "21se",
        "keepalive": "60",
        "serverName": "mehj4d.messaging.internetofthings.ibmcloud.com",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "417af625.713e08",
        "type": "ui_tab",
        "z": "d925e39d.2c18",
        "name": "Charts",
        "icon": "dashboard",
        "order": 2
    }
]