Documentation/NodeRedSetup.json
[{"id":"da2d69f4.492b58","type":"ibmiot in","z":"b1b3335.3dd25d","authentication":"apiKey","apiKey":"7ced8dd5.b7aae4","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":340,"wires":[["a9e6884a.65d028","73858cc6.458594","faee4bd4.f2fcc8"]]},{"id":"a9e6884a.65d028","type":"function","z":"b1b3335.3dd25d","name":"parsing the temperarue","func":"return {payload:msg.payload.d.A_Temperature};\n","outputs":1,"noerr":0,"x":290,"y":244,"wires":[["407d76ea.5222f8"]]},{"id":"73858cc6.458594","type":"function","z":"b1b3335.3dd25d","name":"parsing the humidity","func":"return {payload:msg.payload.d.A_Humidity};\n","outputs":1,"noerr":0,"x":285,"y":435,"wires":[["322fecd1.cec514"]]},{"id":"faee4bd4.f2fcc8","type":"function","z":"b1b3335.3dd25d","name":"parsing the pressure","func":"return {payload:msg.payload.d.A_Pressure};\n","outputs":1,"noerr":0,"x":303,"y":340,"wires":[["8df2f477.b47e58"]]},{"id":"322fecd1.cec514","type":"ui_chart","z":"b1b3335.3dd25d","name":"","group":"2cdfea3e.e00a36","order":0,"width":"5","height":"5","label":"humidity","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":"100","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":562,"y":434,"wires":[[],[]]},{"id":"407d76ea.5222f8","type":"ui_chart","z":"b1b3335.3dd25d","name":"","group":"2cdfea3e.e00a36","order":0,"width":"5","height":"5","label":"temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":"50","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":543,"y":244,"wires":[[],[]]},{"id":"8df2f477.b47e58","type":"ui_gauge","z":"b1b3335.3dd25d","name":"","group":"2cdfea3e.e00a36","order":0,"width":"5","height":"5","gtype":"gage","title":"Pressure","label":"","format":"{{payload | number:2}} %","min":"986","max":"1000","colors":["#79367e","#58a83e","#ca3838"],"seg1":"989.20","seg2":"989.30","x":569,"y":341,"wires":[]},{"id":"7ced8dd5.b7aae4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"your_oragnization_id.messaging.internetofthings.ibmcloud.com\t","cleansession":true,"appId":"","shared":false},{"id":"2cdfea3e.e00a36","type":"ui_group","z":0,"name":"Default","tab":"2ff9c5ea.f8553a","disp":true,"width":"6"},{"id":"2ff9c5ea.f8553a","type":"ui_tab","z":0,"name":"Home","icon":"dashboard"}]